/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #ffffff;
}

.top-list li{
  display: inline-block;
  padding: inherit;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.padded-container{
  text-align: center;
  position: relative;
  display: grid;
  padding: 0.5% 2% 0.5% 2%;
  width: auto;
  max-width: 95vw;
  border: 0;
  margin: 0;
}

#image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*padding: inherit;*/
  max-width: inherit;
}

.text-over-image{
  font-family: 'Ogg', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 128.4%;
  text-align: center;
  color: #FFFFFF;
}

.topnav{
  overflow: hidden;
  padding: inherit;
  display: inline-block;
  border-top: 0px;
  border-bottom: 0px;
  padding-bottom: 0;

  font-family: Graphik;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 160.6%;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: uppercase;
}

.float-left{
  float: left;
}

.float-right{
  float: right;

}

.middle-text{
  padding: 10% 20% 5% 20%;
  font-family: Ogg;
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color:#272729;
}

#smaller-text{
  padding: 0% 20% 5% 20%;
  font-family: Graphik;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.01em;
  text-align: center;

}

.row {
  display: flex;
  margin: 0% 15% 5% 15%;
  flex-shrink: 0.5;
  flex-wrap: wrap;
}

.column img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*padding: inherit;*/
  flex-shrink: 0.5;
  max-width: inherit;
}

.column .text-over-image{
  padding: inherit;
  display: grid;
}

.column {
  flex: 33.33%;
  gap: 5%;
}

.column-gap {
  flex-grow:1;
}


.image-row{
  height: auto;
  flex-shrink: 0;
  max-width: 100%;
}

.grid{
  margin: 0% 15% 10% 15%;
  grid-template-columns:  repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/2)), 1fr));
    /*auto auto;*/
  /*grid-auto-columns: minmax(0,1fr);*/
  gap: 10% 5%;
}

.grid-item{
  text-align: left;
  max-width: 100%;
}

.grid-header{
  font-family: Ogg;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #272729;
  padding: 1% 0% 3% 0%;
}

.grid-text{
  font-family: Graphik;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #28282B;
}

.footer{
  background: #2B2C2E;
  text-align: center;
  position: relative;
  display: grid;
  padding: 0.5% 1% 0.5% 1%;
  width: 100%;
  border: 0;
}

/*.hovercompass:hover > .padded-container .row .column, .hovercompass:hover > .grid .grid-item{*/
/*  opacity: 0.5;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.hovercompass:hover >.padded-container .row .elcapitan:hover, .hovercompass:hover .grid .elcapitan:hover{*/
/*  opacity: 1.0;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/


.hoverclass:hover > .hoverfade:hover {
	opacity: 1.0;
  -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.hoverclass:hover > .hoverfade {
	opacity: 0.5;
  -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}


.hoverclass:hover > .text-over-image:hover {
	opacity: 1.0;
  -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
  color: black;
}

.topnav:hover > li {
	opacity: 0.5;
  -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.topnav:hover > li:hover {
	opacity: 1.0;
  -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

/*.row:hover > .column {*/
/*	opacity: 0.2;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.row:hover > .column:hover {*/
/*	opacity: 1.0;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.row:hover > .text-over-image:hover {*/
/*	opacity: 1.0;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*  display: inline-block;*/
/*}*/

/*.grid:hover > .grid-item {*/
/*	opacity: 0.2;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.grid:hover > .grid-item:hover {*/
/*	opacity: 1.0;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.hovercompass:hover > * {*/
/*	opacity: 0.2;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.hovercompass:hover > .elcapitan:hover {*/
/*	opacity: 1;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.hovercompass:hover > .sierra:hover {*/
/*	opacity: 1;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/

/*.hovercompass:hover > .mojave:hover {*/
/*	opacity: 1;*/
/*  -webkit-transition: all 0.2s ease;*/
/*	-moz-transition: all 0.2s ease;*/
/*	-o-transition: all 0.2s ease;*/
/*}*/




/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: 0px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

